{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<form action="/login" method="post">
  <div class="login-inputs">
    <div class="form-group"><div class="form-label">Username:</div><div class="form-input"><input name="username" type="text" /></div></div>
    <div class="form-group"><div class="form-label">Password:</div><div class="form-input"><input name="password" type="password" /></div></div>
  </div>
  <p>
    <input type="submit" name="login" value="Login" />
    <input type="submit" name="register" value="Register" />
  </p>
</form>

<div class="error"><p>{{ login_error }}</p></div>
{% endblock %}
